{% extends 'customerapp/index.html' %}

{% block content %}

<div style="display: flex; justify-content: center; align-items: center; height: 85vh; background-color: #C2CAD0;">

  <div style="padding: 10px 30px 30px 30px; border: 5px solid #fff; border-radius: 12px; background-color: #5c636a; max-width: 1300px; width: 90%; color: 000000; ">
    <h1 align="center"></h1>

    <p>
      <h3>KONDAPALLI BOMMALU:</h3>
    </p>

    <ul>
      <li>
        Kondapalli art, also known as Kondapalli toys, is a traditional form of Andhra Pradesh, India. These handcrafted wooden toys and figurines are renowned for their intricate craftsmanship, vibrant colors, and unique artistic expressions.
      </li>
    </ul>
    <ul>
      <li>
      Origin:
      Kondapalli art traces its roots to the village of Kondapalli in the Krishna district of Andhra Pradesh, India.
      This traditional art form has been practiced in the region for several centuries, making it an integral part of the local cultural heritage.
      </li>
    </ul>
    <ul>
      <li>
      Materials:
      Artisans predominantly use "Tella Poniki" or white sander wood for crafting Kondapalli toys.
      This particular type of wood is chosen for its softness and light weight, which allows for intricate carving and detailing.
      </li>
    </ul>
    <ul>
      <li>
      Craftsmanship:
      Kondapalli toys are crafted with meticulous precision using a range of hand tools such as chisels and knives.
      Skilled artisans employ their expertise to create figures that are characterized by smooth, rounded edges and fine detailing.
      </li>
    </ul>
    <ul>
      <li>
      Colors:
      The vibrant colors used in Kondapalli art are derived from natural sources like vegetable dyes and turmeric.
      These pigments lend the toys a distinctive and eye-catching appearance, enhancing their aesthetic appeal.
      </li>
    </ul>
    <ul>
      <li>
       Themes:
      Kondapalli toys encompass a diverse range of themes, including depictions from Hindu mythology, scenes from rural life, traditional ceremonies, and everyday village activities.
      Popular figurines include bullock carts, elephants, various deities, and miniature representations of village architecture.
       </li>
    </ul>

  </div>
</div>
{% endblock %}

